@charset "utf-8";

/* style guide */
:root {
    --white: #fff;
    --color1: #9B8EFF;
    --color6: #1D1C89;
}

body {
    background: #fff;
}

/* header */
header {
    border-top: 1px solid #fff;
    background: rgba(255, 255, 255, 0.25);
}

header.action {
    backdrop-filter: blur(4px);
}

header li {
    transition: .3s;
}

header li:hover {
    margin-bottom: 8px;
    transition: .5s ease-out;
}

header.action li:hover {
    text-shadow: none;
}

/* section */

/* sec1 */
/* sec2 */
#my-bg {
    width: 700px;
    height: 570px;
    background: var(--color1);
}

#sec2-btn li.on {
    background: var(--color6);
}

/* sec3 */
/* sec4 */
/* sec5 */
#sec5>.container {
    background: url(../../assets/index/sec1/sec1.jpg) 50% 50%/cover fixed;
}

#s5-bx1 {
    background: rgba(29, 28, 137, 0.7);
}

/* footer */
footer {
    background: var(--color6);
}