@charset "utf-8";

body {
    background: #fff;
}

header {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(4px);
}

#sec1 h1 {
    color: #fff;
    text-shadow: 0 0 4px #fff;
    letter-spacing: 16px;
}

footer {
    background: #272727;
}